 <!-- barra de navegación -->
 <nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        <img src="assets\Logo.png"  alt="Logo Arg Prg">
      </a>
      <nav class="logo navbar-expand-md navbar-light">            
        <h5 class="nombre-empresa">Jorge Aita</h5>             
      </nav>
    <!-- vínculos a las redes
    -->  
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
        <button class="btn btn-primary"><i class="bi bi-facebook" text-info></i></button>  
        <button class="btn btn-primary"> <i class="bi bi-instagram"></i></button>
        <button class="btn btn-primary"> <i class="bi bi-linkedin"></i></button>  
        </li>
      </ul>

    </div>
  </div>
</nav>
  

     
         
    <section>
      <div class="logo">
              <div class ="hero-inferior" id="fondo" class="logo">                                                     
                  <img class="hero-inferior-imagen img-fluid" src="assets/Jorge-original.jpg" alt="Logo Argentina Programa">
              </div>      
      </div>  
    </section>

  <div>
      <p class="let">{{miPortfolio.name}}</p>
    
      <!--<p class="let1">psicoanalista  </p>
      <p class="let2">Buenos Aires (Argentina)  </p>  --> 
  </div>